
* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
    background-color: transparent;
    color: grey;
    padding: 0;
    margin: 0;
    min-width: 100%;
    overflow-x: hidden;
}

.page {
    background-color: white;
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin: 0;
}
/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
}

.header-text {
    color: blue;
}

/* WELCOME PAGE */

#welcome-page {
    background-color: #a9a9a9;
    padding-bottom: 0;
    color: white;
}

.intro-box {
    margin-top: 10vh;
    margin-left: 10vw;
}

.intro-txt {
    font-size: 2rem;
}

#intro-txt-eng {
    color: green;
}

.bio-div {
    height: 0rem;
    width: 25rem;
    margin-left: 15vw;
    margin-top: 5vh;
}

#bio-line1 {
    color: green;
    font-size: 1.rem;
}

#welcome-page-linkedin-btn {
    height: 3rem;
    margin-left: 77vw;
    margin-bottom: 20vh;
}

.profile-img {
    height: 15rem;
    width: 15rem;
}

.profile-img-box {
    margin-left: 60vw;
    margin-top: -55vh;
}

.down-img-box {
    height: 6vh;
    width: 8vh;
}

.down-img {
    height: 4rem;
    width: 5rem;
    position: absolute;
    bottom: 0vh;
    margin-left: 45vw;
    margin-right: 45vw;
}

.scroll-down {
    color: white;
    position: absolute;
    bottom: 1vh;
    margin-left: 44vw;
    margin-right: 44vw;
}

/* WORK EXPERIENCE PAGE*/


#work-experience-page {
    background-color: white;
    margin-top: 0;
    padding-top: 2vh;
}

.resume-btn-box {
    display: flex;
    justify-content: center;
    margin-top: 53vh;
}

.resume-btn {
    width: 12rem;
    height: 2rem;
    color: green;
    padding: 0;
}

.work-box {
    background-color: #a9a9a9;
    width: 18rem;
    padding: 0.2rem;
    margin: 0;
    color: white;
}

#paris-box {
    height: 7rem;
    margin-left: 70vh;
    margin-top: -125vh;
}

#nyc-box {
    width: 15rem;
    margin-left: 7vw;
    margin-top: -90vh;
}

#berlin-box {
    margin-left: 74vw;
    margin-top: 8vh;
}

#tokyo-box {
    margin-left: 70vw;
    margin-top: 37vh;
}

#la-box {
    margin-left: 7vw;
    margin-top: -9vh;
}

.world-img-box {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 14vh;
    margin-left: 20vw;
}

.world-img {
    height: 51rem;
}

.city-h3 {
    color: green;
    text-align: center;
}
/* PROJECTS PAGE */

#projects-page {
    display: flex;
    flex: row;
    align-items: center;
}

 .project-box {
    display: flex;
    margin-left: 15vw;
}

.project-descript-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1vw;
    margin-bottom: 1vh;
    width: 40vw;
    border: solid 1px lightgrey;
}

.project-img-box {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-top: 4vh;
}

.project-img {
    height: 10rem;
    width: 15rem;
}

.skills-box {
    border: dotted 1px grey;
    padding: 1rem;
    width: 6rem;
    display: flex;
    flex-direction: column;
}

.skills-box-flex {
    display: flex;
    align-items: center;
    margin-left: 7vw;
    margin-right: 15vw;
}
.projects-box {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}   

.projects-skills-box {
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: -3vh;
}


/* CONTACT PAGE */
#contactme-page {
    background-color: white;
}

.contactme-intro-txt {
    font-size: 7rem;
    text-align: center;
    margin-top: 30vh;
}

.contactme-body-box {
    display: flex;
    justify-content: space-evenly;
}


#email-btn {
    width: 10rem;
    height: 11rem;
}

#phone-btn {
    width: 7rem;
    padding-top: 2rem;
}

.phone-modal-box {
    margin-top: -30vh;
    margin-left: 36vh;
    margin-right: 36vh;
}

.phone-modal {
    background-color: lightgrey;
    padding: 3rem;
    width: 50rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email-txt {
    color: green;
}

/* FOOTER */
footer {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    width: 100vw;
    margin-bottom: 0vh;
    border-top: 1px solid lightgrey;
}

.short-bio-box {
    margin-bottom: 10vh;
}

.copyright {
    color: green;
}

.footer-links-box {
    width: 30vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-links {
    height: 4rem;
}


/*small phones*/
@media only screen and (max-width: 600px) {
    * {
        overflow-x: hidden;
        font-size: 12px;
    }

    .welcome-page {
        display: flex;
        flex-direction: row-reverse;
    }

    .intro-box {
        margin-top: 0vh;
        margin-left: 10vw;
        text-align: center;
    }

    .bio-div {
        width: 300px;
        height: 450px;
        margin-left: 10vw;
        margin-bottom: -5vh;
        text-align: center;
    }

    .profile-img-box {
        margin-left: 25vw;
    }

    .world-img {
        visibility: hidden;
    }

    .work-box {
        width: 120px;
        display: flex;
        flex-direction: column;
    }

    #berlin-box {
        margin-top: 30vh;
        margin-left: 60vw;
    }

    #nyc-box {
        margin-top: -70vh;
    }

    #tokyo-box {
        margin-left: 60vw;
    }

    #la-box {
        margin-top: -10vh;
    }

    .resume-btn-box {
        margin-top: 2vh;
    }

    .project-img {
        width: 50px;
        height: 50px;
    }
    .skills-box {
        width: 320px;
    }

    .short-bio-box {
        width: 400px;
        height: 200px;
        margin-left: 10px;
    }

    .footer-links-box {
        margin-right: 10vw;
        display: flex;
        justify-content: space-evenly;
    }
}

