
* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
body {
    background-color: grey;
    padding: 0;
    margin: 0;
    min-width: 100%;
    overflow-x: hidden;
    
}

.page {
    height: 100vh;
    padding: 0;
    margin: 0;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* welcome page */

.intro-box {
    margin-top: 25vh;
    margin-left: 10vw;
}

.intro-txt {
    font-size: 2rem;
}

.bio-div {
    height: 0rem;
    width: 25rem;
    margin-left: 15vw;
    margin-top: 5vh;
}

#welcome-page-linkedin-btn {
    height: 3rem;
    margin-left: 20vw;
    margin-top: 18vh;
}
.profile-img {
    height: 30rem;
    width: 28rem;

}
.profile-img-box {
    margin-left: 55vw;
    margin-top: -65vh;
}


.down-img-box {
    height: 6vh;
    width: 8vh;
}
.down-img {
    height: 4rem;
    width: 5rem;
    position: absolute;
    bottom: 0vh;
    margin-left: 45vw;
    margin-right: 45vw;

}

.scroll-down {
    color: white;
    position: absolute;
    bottom: 1vh;
    margin-left: 44vw;
    margin-right: 44vw;
}

/* work-experience page*/

#work-experience-page {
    background-color: white;;
}
.world-img {
    width: 55rem;
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: -50vh;
}

.work-box {
    background-color: lightgrey;
    width: 20rem;
}

/* projects page */

.projects {
    background-color: white;
}


.projects-box {
    width: 90%;
    margin-left: 5vw;
    margin-top: 10vh;
}

.project-box {
   display: flex;
   flex-direction: row;
   gap: 10rem;
}

.project-description-box {
    padding-left: 5rem;
}

.project-img-box {
    padding: 2rem;
}

.project-img {
    height: 10rem;
    width: 15rem;
    /* margin-left: 2vw; */
}


/* contact page */
.contactme-intro-txt {
    font-size: 7rem;
    text-align: center;

}

.contactme-body-box {
    display: flex;
    justify-content: space-evenly;
}
#email-btn {
    width: 10rem;
    height: 11rem;
}

#phone-btn {
    width: 7rem;
}

/* footer */
footer {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 15vh;
    width: 100vw;
    margin-bottom: 0vh;
}
.footer-links-box {
    width: 30vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer-links {
    height: 4rem;

}